* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#bg {
  background: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  background-image: url(/bg-web.jpg);
  background-position: 50% 50%;
}
#fortune {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(-11deg);
  -moz-transform: rotate(-11deg);
  -o-transform: rotate(-11deg);
  -ms-transform: rotate(-11deg);
  transform: rotate(-11deg);
}
#fortune span {
  position: relative;
  left: -136px;
  top: -50px;
}
#fortune img {
  margin: 0 15px;
}
#title {
  font-family: 'Oswald', 'sans-serif';
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 50%;
  width: 50%;
  margin-left: -25%;
  text-align: center;
}
