* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#bg {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  background: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: 900px;
  -moz-background-size: 900px;
  background-size: 900px;
  background-image: url(/bg-web.jpg);
  background-position-y: 50%;
  background-position-x: 50%;
  -lh-property: 0;
background-position-x:-webkit-calc(50% - 26px);
background-position-x:-moz-calc(50% - 26px);
background-position-x:calc(50% - 26px);
;
}
#fortune {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 100%;
}
#fortune span {
  position: absolute;
  left: -141px;
  top: -18px;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  transform: rotate(-12deg);
}
#fortune img {
  margin: 0 15px;
}
#fortuneText {
  text-transform: uppercase;
}
#title {
  font-family: 'Oswald', 'sans-serif';
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 50%;
  width: 90%;
  margin-left: -45%;
  text-align: center;
  font-size: 4em;
}
@media only screen and (max-width: 600px) {
  #title {
    font-size: 2em;
    top: 20px;
  }
}
footer {
  width: 90%;
  margin-left: -45%;
  left: 50%;
  z-index: 2;
  position: absolute;
  bottom: 5%;
  text-align: center;
  color: #ccc;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
@media only screen and (max-width: 600px) {
  footer {
    bottom: 5px;
  }
}
footer a,
footer iframe {
  margin: 0 5px;
  color: #000;
  text-decoration: none;
}
footer a:first-child,
footer iframe:first-child {
  margin-bottom: 10px;
}
