doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Oswald:700')
    link(rel='stylesheet', type='text/css', href=locals.resourcePrefix + locals.cssFileName)
    script(src=locals.resourcePrefix + locals.jsFileName)

  body
    #bg
    h1.top-text
    h1#title
      | Your emoji fortune:
      br
      span#fortuneText
    #fortune